// Colores
$color-principal: #51CB20;
$color-secundario: #e5ffda;
$color-texto: #252525;
$color-dark-bg: #161616;
$color-dark-texto: #ffffff;

// Dimensiones
$radius: 10px;
$spacing-base: 1rem;
$avatar-size: 100px;

// Tipografía
$font-principal: 'Roboto', sans-serif;
$font-secundaria: 'Open Sans', sans-serif;
$font-size-titular: 20px;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 800;


